.logo {
    .logo-height-constrain {
        height: 200px;
        width: auto;
    }
}
.site-header {
    .custom-logo {
        height: 200px;
        width: auto;
    }
}

#masthead {
    .hgroup {
        h1 {
            font-weight: $font__weight-default;
            color: $color__black;
        }
    }
}

@include breakpoint(md) {
    #masthead {
        .hgroup {
            display: flex;
            align-items: center;
            .custom-logo-link {}
            h1 {}
        }
    }
}
