.logo {
    .logo-height-constrain {
        height: 200px;
        width: auto;
    }
}
.site-header {
    .custom-logo {
        height: 150px;
        width: auto;
    }
}

#masthead {
    .hgroup {
        h1 {
            font-family: $font__logo;
            font-weight: $font__weight-default;
            color: $color__primary;
            letter-spacing: .75px;
            text-transform: none;
            text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
            @include font-size(2.5);

            @include breakpoint(md) {
              @include font-size(3.5);
            }

        }
    }
    .site-description {
      @include visuallyhidden;
    }
}


#masthead {
    .hgroup {

      #header-sidebar .widget {
        display: none !important;
      }

      @include breakpoint(md) {
        display: flex;
        align-items: center;
        .custom-logo-link {}
        h1 {}
        #header-sidebar .widget {
          display: block !important;
        }

      }
    }
}
