.logo {
    .logo-height-constrain {
        height: 200px;
        width: auto;
    }
}
.site-header {
    .custom-logo {
        height: 150px;
        width: auto;
    }
}

#masthead {
  background-color: $color__white;
    .hgroup {
        h1 {
            font-family: $font__logo;
            font-weight: $font__weight-default;
            color: $color__primary;
            letter-spacing: .75px;
            text-transform: none;
            text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
            @include font-size(2.5);

            @include breakpoint(md) {
              @include font-size(3.5);
            }

        }
    }
    .site-description {
      @include visuallyhidden;
    }

    @include breakpoint(md) {
      .site-description {
        @include visible;
        @include font-size(1.75);
        text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
      }
    }
}


#masthead {
    .hgroup {

      #header-sidebar .widget {
        display: none !important;
      }

      @include breakpoint(md) {
        display: flex;
        align-items: center;

        #header-sidebar .widget {
          display: block !important;
        }

      }
    }
}

.top-nav-container {
  background-color: $color__white;
  color: $color__text;
}

#menu-tertiary {
  @include no-bullets;
  display: flex;
  justify-content: flex-end;
  padding-top: .5em;
  padding-bottom: .5em;

  li {
    padding-left: .5em;

    a,
    a:link,
    a:visited,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }

  .highlight {
    &:last-child {
      margin-right: 1em;
    }
    a {
      /*@extend %button__default;*/
    }
  }
}
