$def-pad: 2rem;

.grid {
  @include columns(1, $def-pad);
  @include columns(4, $def-pad);
}

.no-sidebar:not(.page-template-full-width-page):not(.page-template-front-page) {}

.page:not(.page-template-front-page) {
  .custom-header {
    display: none;
  }
}

.home {
  .entry-header {
    @include visually-hidden;
  }
}

.top-bar {
  background-color: $color__primary;
}

.site-title {
  @include visually-hidden;
}

.site-branding {
  min-width: 25%;
}

.site-content {
  .widget-area {
    .widget {
      background-color: $color__accent;
    }
  }
}

.site-info {
  background-color: $color__primary;

  a,
  a:visited {
    color: $color__text-inverted;
  }
}

#menu-footer-menu {
  @include no-bullets;
}

a {
  color: $color__link;

  &:visited,
  &:before {
    color: $color__link;
  }

  &:hover,
  &:focus {
    color: $color__link-hover;
  }
}

button,
.button {
  color: $color__link;
  border-color: $color__link;

  &:visited {
    color: $color__link;
    border-color: $color__link;
  }

  &:hover,
  &:focus {
    color: $color__link-hover;
    border-color: $color__link-hover;
  }
}

.top-bar a {
  color: $color__text-inverted !important;

  &:visited,
  &:hover,
  &:focus,
  &:before {
    color: $color__text-inverted;
  }
}
