// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

// Create grayscale
$gray-dark:                 #222;
$gray:                      #333;
$gray-light:                #888;
$gray-lighter:              #ccc;
$gray-lightest:             #eee;

// Reassign color vars to semantic color scheme
$brand-primary:             #02535B;//
$brand-success:             $brand-primary;
$brand-info:                #34495e;
$brand-warning:             #f1c40f;
$brand-danger:              #772953;
$brand-inverse:             $brand-primary;

$theme-colors: (
  primary: $brand-warning,
  secondary: $gray-lighter,
  success: $brand-primary,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  light: $gray-lighter,
  dark: $gray
);


$size__site-width: 1140px;
$size__site-main: 65.83%;
$size__site-sidebar: 31.66%;
$size__content-width: 820px;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12;
$grid-gutter-width-base:     30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

$font-weight-normal: normal;
$font-weight-bold: bold;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

//Links
$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

// Buttons
$btn-padding-x:                  1rem;
$btn-padding-y:                  1rem;
$btn-line-height:                1.25;
$btn-font-weight:                $font-weight-normal;
$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25);
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125);

$headings-font-family: 'Roboto', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
