html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}

body {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
}

.custom-logo-link {
  img {
    height: 125px;
    width: auto;
  }
}

.navbar-collapse {
  text-align: right;
  justify-content: flex-end;
}

.jetpack-social-navigation {
  align-self: center;

  ul {
    margin-bottom: 0 !important;
    a {
      font-size: 1.6rem;
    }
  }
}

.bg-dark {
  background-color: $brand-primary !important;

  a,
  a:hover {
    color: $white;
  }
}

#top-bar {
  background-color: $gray-dark;
  color: $white;

  a,
  a:hover {
    color: $white;
  }

}

#wrapper-static-hero {
  padding-top: 0;

  background-color: $brand-primary;
  color: $white;

  .widget-count-2,
  .col-md-6 {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .widget_text {
    width: $size__site-width;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.static-hero-widget {
  padding-right: 0;
  padding-left: 0;
}

.home .site-main,
.page-adopt .site-main {
  & > article {
    & > .entry-header {
      @include visually-hidden;
    }
  }
}

.home {
  #page-wrapper,
  #full-width-page-wrapper {
    padding-top: 0;
  }
}

.widget_media_image img {
	width: 100%;
	height: auto;
}

#left-sidebar,
#right-sidebar {
  .widget {
    margin-bottom: $spacer;
    padding: $spacer;
    background-color: $gray-lighter;
    border-right: 4px solid darken( $gray-lighter, 5% );
    border-bottom: 4px solid darken( $gray-lighter, 5% );
    border-radius: 2px;
  }

  .pet-filter {
    &.widget {
      border: none;
    }
  }
}

#wrapper-footer {
  background-color: $brand-primary;

  color: $white;

  a,
  a:hover {
    color: $white;
  }

  ul {
    @include no-bullets;
    text-align: center;
  }

  .site-info-widgets {
    padding: $spacer;
    font-size: $font-size-sm;
  }

  .widget-count-1 {
    text-align: center;
  }
}

// Grid
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    padding: 1em;
    margin-bottom: $spacer;
    margin-right: $spacer / 2;
    margin-left: $spacer / 2;
    flex: 0 1 100%;

    @include media-breakpoint-up(sm) {
      flex-basis: calc( 50% - #{($spacer)} );
    }

    @include media-breakpoint-up(md) {
      flex-basis: calc( 33.33% - #{($spacer)} );
    }

    .card-img-top {
      @include aspect-ratio(3,2);
      background-position: center top;
      background-size: cover;
      margin-bottom: $spacer;
    }

  }

}

.pet-profile {
  width: 100%;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      flex-basis: auto;
    }
  }

  .actions {
    margin-top: $spacer;
  }
}

.void-grid {
  .minimal {
    @extend .card-deck;

    .row {
      padding: $spacer;
    }

    .col-md-12 {
      @extend .card;
      padding: 0;
      margin: 0;
    }

    .item {
      border: none;
      padding: 0;
      margin: 0;
    }

    .post-img {
      margin-bottom: $spacer;
      img {
        @extend .card-img-top;
      }
    }

    .post-info {
      padding-right: $spacer;
      padding-left: $spacer;
      padding-bottom: $spacer;
    }

    .entry-title {
      a {
        font-size: 1rem;
      }

    }
  }

}

.post-grid {

  /*.grid-items {
    @extend .card-deck;
  }*/

  /*.item {
    @extend .card;
  }*/
  /*.layer-media {
    height: 200px !important;
    width: 200px !important;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
    }
  }*/
}

button,
.btn {
  text-transform: uppercase;
}

.screen-reader-text {
  @include visually-hidden;
}
