$color--black: #000;
$color--white: #fff;

$color__primary: #02535B;
$color__secondary: #F2AF00;
$color__complementary: #880e4f;

$color__primary-light: #4D95A0;
$color__secondary-light: #F5BF33;
$color__complementary-light: #5F6164;

$color__light-gray: #e6e6e6;
$color__gray: #9e9e9e;
$color__dark-gray: gray(75);

$color__background: #fff;
$color__foreground: #444;

$color__text: $color__foreground;
$color__links: $color__gray;

$color__success: #009688;
$color__info: #00bcd4;
$color__warning: $color__primary;
$color__danger: $color__secondary;
$color__default: $color__secondary;

$color__facebook: #3f51b5;
$color__twitter: #2196f3;
$color__linkedin: #3f51b5;
$color__google-plus: #e91e63;
$color__youtube: #f44336;
