$color--black: #000;
$color--white: #fff;

$color__primary: #02535B;
$color__secondary: #ccc;

$color__background: #ccc;
$color__foreground: #ccc;

$color__text: #ccc;
$color__links: $color__primary;

$color__success: #ccc;
$color__info: #ccc;
$color__warning: #ccc;
$color__danger: #ccc;
$color__default: #ccc;

$color__facebook: #ccc;
$color__twitter: #ccc;
$color__linkedin: #ccc;
$color__google-plus: #ccc;
$color__youtube: #ccc;