$size__site-main: 75%;
$size__site-sidebar: 25%;
$size__spacer: 5px;

// Screen Sizes
$size__screen-xs: 0;
$size__screen-sm: 480px;
$size__screen-md: 780px;
$size__screen-lg: 960px;
$size__screen-xl: 1200px;
