.main-navigation {
    background-color: $color__secondary;
    text-transform: uppercase;
    a {
        font-weight: $font__weight-default;
        color: $color__white;
    }
    ul {
        li {
            &:hover > a,
            &:focus > a {
                background-color: $color__complementary;
            }
        }
        ul {
            background-color: $color__secondary;

            li {
                &:hover > a,
                &:focus >  a {
                    background-color: $color__complementary;
                }
            }
        }
    }

    li.highlight > a {
        background-color: $color__complementary;
        border-right: 1px solid $color__white;
    }

    li.highlight-first > a {
        border-left: 1px solid $color__white;
    }

}
