.main-navigation {
    background-color: $color__primary;
    text-transform: uppercase;
    a {
        font-weight: $font__weight-default;
        color: $color__white;
        font-size: $font__size-h6;
    }

    ul {
        li {
            &:hover > a,
            &:focus > a {
                background-color: $color__secondary;
            }
        }
        ul {
            background-color: $color__secondary-light;
            a {
                color: $color--white;
            }
            li {
                &:hover > a,
                &:focus >  a {
                    background-color: $color__primary-light;
                }
            }
        }
    }

    li.highlight > a {
        background-color: $color__secondary;
        color: $color__white;
        &:hover,
        &:focus {
            background-color: $color__secondary-light;
        }

    }

    li.highlight-first > a {
        margin-right: 1px;
    }

    li.current-menu-item {
        background-color: $color__secondary;
        a {
          color: $color__white;
        }
    }

}
