.main-navigation {
    background-color: $color__primary;
    text-transform: uppercase;
    a {
        font-weight: $font__weight-default;
        color: $color__white;
        font-size: $font__size-h6;
    }

    ul {
        li {
            &:hover > a,
            &:focus > a {
                background-color: $color__secondary;
            }
            a {
              padding-right: 1em;
              padding-left: 1em;
            }
        }
        ul {
            background-color: $color__secondary-light;
            a {
                color: $color--white;
            }
            li {
                &:hover > a,
                &:focus >  a {
                    background-color: $color__primary-light;
                }
            }
        }
    }

    li.highlight > a {
        background-color: $color__secondary;
        color: $color__white;
        &:hover,
        &:focus {
            background-color: $color__secondary-light;
        }

    }

    li.highlight-first > a {
        margin-right: 1px;
    }

    li.current-menu-item {
        background-color: $color__secondary;
        a {
          color: $color__white;
        }
    }

}

.top-menu {
  @include visuallyhidden;
}

@include breakpoint(md) {

  .top-menu {
    @include visible;
    @include no-bullets;
    display: flex;
    justify-content: flex-end;
    padding-top: .5em;
    padding-bottom: .5em;

    li {
      padding-left: .5em;

      a,
      a:link,
      a:visited,
      a:hover,
      a:focus {
        color: $color__white;
        text-decoration: none;
      }
    }

    .highlight  {
      margin-right: 1em;
    }
  }

}

.social {
  .icon {
    font-family: $font__icon;
    font-size: 1.75em;
    font-style: normal;
  }
  .link-text {
    @include visuallyhidden;
  }
}

a[href*=facebook] {
  .icon {
    &:before {
      content: '\f230';
    }
  }
  .link-text {
    @include visuallyhidden;
  }
}

a[href*=twitter] {
  .icon {
    &:before {
      content: '\f099';
    }
  }
  .link-text {
    @include visuallyhidden;
  }
}

a[href*=instagram] {
  .icon {
    &:before {
      content: '\f16d';
    }
  }
  .link-text {
    @include visuallyhidden;
  }
}

a[href*=petfinder] {
  .icon {
    &:before {
      content: '\f1b0';
    }
  }
  .link-text {
    @include visuallyhidden;
  }
}

a[href*=gofund] {
  .icon {
    &:before {
      content: '\f155';
    }
  }
  .link-text {
    @include visuallyhidden;
  }
}
