.widget {
    a {
        font-size: $font__size-content;
    }
    .widget-title {
        text-transform: uppercase;
    }

    .so-widget-sow-features {
        h5 {
            margin: .25em 0;
            font-family: $font__heading;
            a {
                @include font-size(2);
            }
        }
    }
    .promo-subhead {
        margin-bottom: .25em;
    }
    .promo-image {
        max-height: 250px;
        overflow: hidden;
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
        p {
            padding: 0;
            margin: 0;
            line-height: 1;
        }
    }

}

#secondary {
    .widget {
        &:not(.widget-first) {
            border-top: 2px solid $color__light-gray;
            padding-top: 2em;
        }
        .widget-title {
            color: $color__text;
            font-weight: $font__weight-default;
        }
        &.promo-widget {
            .widget-title {
                margin-bottom: .25em;
            }
        }
    }
}
