.widget {
    a {
        font-size: $font__size-content;
    }
    .widget-title {
        text-transform: uppercase;
    }

    .so-widget-sow-features {
        h5 {
            margin: .25em 0;
            a {
                @include font-size(2);
            }
        }
    }
}

#secondary .widget .widget-title {
    color: $color__primary;
}
