html,
body {
    font-size: $font__size-content;
}
body {}

#main {
    background-color: $color__background;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a,
.post .entry-content a {
    color: $color__links;
}

article.post .entry-header h1.entry-title {
    color: $color__primary;
}

#masthead {
  .hgroup {
    .support-text {
      display: none;
    }
  }
}
