h1,
h2,
h3,
h4 {
    font-family: $font__heading;
}

h1 {
    /*text-transform: uppercase;*/
    font-size: $font__size-h1;
}

h2 {
    font-size: $font__size-h2;
}

h3 {
    font-size: $font__size-h3;
}

h4 {
    font-size: $font__size-h4;
}

h5 {
    font-size: $font__size-h5;
}

h6 {
    font-size: $font__size-h6;
}

article.post .entry-header h1.entry-title {
    font-size: $font__size-h1;
}

#secondary .widget .widget-title {
    font-size: $font__size-h3;
}
