
.vantage-grid-loop {
  article {
    .grid-thumbnail {
      padding: 0;
      // border: none;
      border-radius: 0;
      box-shadow: none;

      &:hover,
      &:focus {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
